@font-face{
	font-family: hLight;
	src: url(HelveticaNeue.ttf);
}
body, html {
	width: 100%;
	overflow-y: hidden;
	margin: 0px;
	padding: 0px;
	font-family: hLight;
}
.nav {
	width: 100%;
	text-align: center !important;
}

.btn {
	margin: 10px;
	background: transparent;
	color: #fff;
}
.btn:hover, .btn:focus {
	color: #fff;
}
*:focus {
	outline: none !important;
}
.jumbotron {
    background: transparent;
    color: #ffffff;
}

#home, #speakers, #events, #aboutUs {
	position: fixed;
	top: 0px;
	left: 0px;
	min-height: 100%;
	width: 100%;
}

#home {
	background: #000;
}
#home > #tedx_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}
.blue_circle, .red_circle, .yellow_circle {
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: -100;
    border-radius: 100%;
    background: rgba(0, 234, 255, 0.6);
}
.red_circle {
    background: rgba(255, 24, 24, 0.55);
}
.yellow_circle {
    background: rgba(255, 255, 80, 0.47);
}

#speakers {
	background: red;
    display: none;
}

#events {
	background: green;
    display: none;
}

#aboutUs {
	background: yellow;
    display: none;
}
